{% extends "layout.html" %} {% block content %}
<!-- ANIMATED ON SCROLL -->
<link
  href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css"
  rel="stylesheet"
/>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- CSS -->
<link
  rel="stylesheet"
  href="{{ url_for ('static', filename='css/style.css') }}"
/>
<!-- NORMALIZE.CSS -->
<link
  rel="stylesheet"
  href="{{ url_for ('static', filename='css/normalize.css') }}"
/>
<!-- NORMALIZE.CSS -->
<title>Sobre mi | Alfonso Aguilar G.</title>
<body>
  <br />
  <div class="wrapper">
    <!--------------- IMAGEN 1 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 about image1"></div>
        </div>
      </div>
    </div>
    <!--------------- IMAGEN 1 --------------->

    <!--------------- TEXTO 1 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="hero-content">
          <br /><br />

          <div class="row">
            <div class="col-lg-12">
              <h1>Sobre mi.</h1>
              <br />

              <p>
                Soy un joven mexicano, nacido en Puebla y actualmente vivo en
                Tlaxcala. Soy una persona apasionada de conocer nuevas cosas,
                personas, culturas, sabores y cualquier vivencia que aporte algo
                positivo para mí. Intento ver la vida siempre con un enfoque
                positivo, a veces rozo en lo absurdo en ese enfoque, pero es
                algo que me distingue y me ha ayudado a ver y a vivir la vida de
                una mejor manera.
              </p>

              <p>
                Me considero una persona emprendedora y autodidacta, siempre me
                gusta estar aprendiendo nuevas cosas y en ese camino he
                encontrado algunos gustos como lo es la cocina, me intriga mucho
                el cocinar, el saber que el esfuerzo, la dedicación, la
                planeación y la ejecución de una receta puede llevar a un
                proceso final que será disfrutado por el paladar.
              </p>
              <p>
                En resumen me considero una persona apasionada de los negocios y
                las nuevas tecnologías, soy una persona feliz que le gusta ver
                la vida con gran optimismo y que confía firmemente en que el
                mundo esta cambiando constantemente y que las tecnologías pueden
                ayudar a resolver problemas y a optimizar recursos para el
                beneficio humano.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------- TEXTO 1 --------------->
    <!--------------- IMAGEN 2 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 about image2"></div>
          <span style="font-size: 10px; margin-left: 1%;"
            >- Imagen izquierda como quedo mi receta/imagen derecha como
            deberian haber quedado</span
          >
        </div>
      </div>
    </div>
    <!--------------- IMAGEN 2 --------------->
    <!--------------- TEXTO 2 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="hero-content">
          <br /><br />

          <div class="row">
            <div class="col-lg-12">
              <p>
                Queda claro en la imagen de arriba que no pude imitar a las
                fotos de recetario, pero el cocinar es uno de mis hobbies,
                siento un gran interés por la comida asiática, creo que la
                preparación de los ingredientes, las especias y el procesamiento
                de esos para llegar a un platillo me fascina demasiado.
              </p>

              <p>
                Siempre me la paso viendo videos en “YouTube” y trato de imitar
                recetas y romper paradigmas en la cocina agregándole mi toque
                especial, antes la cocina estaba escrita y se debían de seguir
                una serie de pasos porque si no
                <strong>"No te salía"</strong> pero creo que hoy en dia tenemos
                acceso a un gran conglomerado de información para poder crear
                nuevas y mejores recetas para nosotros.
              </p>
              <br />
              <p>
                Mi comida favorita es la mexicana y no, no es porque sea
                mexicano, sino porque es tan versátil, dinámica y vasta que la
                combinación de sabores es esplendida, aclaro que mi platillo
                favorito son los
                <strong>"Chilaquiles"</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------- TEXTO 2 --------------->
    <!--------------- IMAGEN 3 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 about image3"></div>
        </div>
      </div>
    </div>
    <!--------------- IMAGEN 3 --------------->
    <!--------------- TEXTO 3 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="hero-content">
          <br /><br />

          <div class="row">
            <div class="col-lg-12">
              <p>
                Otro de mis grandes hobbies son los deportes, me encanta ver y
                practicar deportes, creo que el deporte crea una sinergia de
                sentimientos en un ser humano tanto practicándolos como
                observándolos que me parece algo sumamente placentero.
              </p>

              <p>
                Mis deportes favoritos en orden descendente son: Futbol
                americano, beisbol, boxeo, basquetbol y futbol soccer. Otros
                deportes igual los aprecio, pero creo que estos son mis
                preferidos. Mis equipos favoritos respectivamente son: “Los
                Ángeles Rams”,” Los Ángeles Dodgers” y en México “Los Pericos de
                Puebla”, “Los Ángeles Lakers” y “Real Madrid”
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------- TEXTO 3 --------------->
    <!--------------- IMAGEN 4 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 about image4"></div>
        </div>
      </div>
    </div>
    <!--------------- IMAGEN 4 --------------->
    <!--------------- TEXTO 4 --------------->
    <div data-aos="fade-down">
      <div class="container">
        <div class="hero-content">
          <br /><br />

          <div class="row">
            <div class="col-lg-12">
              <p>
                Como ya lo he dicho anteriormente, me considero una persona
                autodidacta, emprendedora, líder, innovadora, me gusta pensar
                fuera de la caja, resiliente, motivado, con una gran visión
                particular y conjunta. Me gusta proponer, llegar a una situación
                y proponer y ser un agente de cambio en donde sea que me
                encuentre.
                <br />
                Cada día me gusta estar aprendiendo cosas nuevas, creo
                firmemente que uno de los motivos por los cuales venimos a este
                mundo es para alcanzar el punto más álgido de sabiduría y
                aprendizaje y ponerlo en practica para el beneficio personal o
                colectivo.
              </p>
              <p></p>
              <p>
                Considero que las nuevas tecnologías pueden ayudar a la
                resolución de grandes, medianos y pequeños problemas y otro de
                mis hobbies es aprender algo nuevo, por el momento he aprendido
                programación, donde llevo aproximadamente 1 año de uso en
                lenguajes de programación como HTML, CSS, JavaScript, Python y
                usando frameworks como “Flask”, de igual forma me encuentro
                aprendiendo nuevas tecnologías para poder ofrecer un mejor
                enfoque a mi carrera. También siento un gran interés por
                aprender nuevos idiomas, el inglés, el portugués y el ruso es
                uno de los idiomas que estoy practicando y aprendiendo.
              </p>
              <p>
                Mis próximos pasos en el mundo de las tecnologías es aprender
                sobre análisis de datos y business intelligence, mi visión a
                futuro es emprender una empresa en el sector bancario y/o abrir
                una consultoría en el análisis de datos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--------------- TEXTO 4 --------------->

    <div class="whitespace"></div>

    <br /><br /><br /><br />
  </div>

  <!-- GREENSOCK CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <!-- MAIN.JS -->
  <script src="../static/js/main.js" type="text/javascript"></script>
</body>
{% endblock %}
